<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Investments</a>
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Investments</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
                        More...
                    </a>
                    <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Deposits</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--/*@thymesVar id="username" type="java.lang.String"*/-->
        <div class="float-right" id="user-menu" th:if="${#authentication.name} != null">
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle"
                        data-toggle="dropdown" type="button">
                    <span th:text="${#authentication.name}"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout">
                        <button class="dropdown-item button-link">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>