<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    <!-- Vue.js development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Boilerplate Application</title>
  </head>
  <body>
    <div th:replace="fragments/top-navbar :: top-navbar"></div>

    <div id="vue-example" class="container">
        <p class="h2">{{ message }}</p>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Integer</th>
                    <th>Text</th>
                    <th>Long</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in listOfItems">
                    <td>{{ item.integer }}</td>
                    <td>{{ item.text }}</td>
                    <td>{{ item.longNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Actual Vue.js script -->
    <script>
        var app = new Vue({
            el: '#vue-example',
            data() {
                return {
                    listOfItems: null,
                    message: 'I got this data from the server with Axios in Vue.js'
                }
            },
            mounted(){
                axios
                    .get("/rest/list")
                    .then(response => (this.listOfItems = response.data))
            },
        })
    </script>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
  </body>
</html>